<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sobre esta página</title>
    <link rel="icon" href="/img/clima.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
</head>
<body>
    {{>headers}}   
    <p>Este sitio ha sido creado por Mayra Leiva usando datos de mapbox.com y darksky.net</p>
    <img src="/img/frog.jpg" alt="Se ha perdido la imagen D:"> 
</body>
<footer>{{>trailers}}</footer>
</html>