<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test ExpressJS</title>
    <link rel="icon" href="/img/clima.png">
    <link rel="stylesheet" href="/css/styles.css">

    <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
</head>
<body>
    {{>headers}}

    <p>Utiliza este sitio para obtener el clima!</p><br>
    

    <form>
        <input placeholder="Lugar">
        <button>Busca</button>
    </form>

    <p id='message-one'></p>
    <p id='message-two'></p>

    <script src="/js/app.js"></script>
</body>
<footer>{{>trailers}}</footer>
</html>